apiVersion: v1
kind: Secret
metadata:
  name: my-push-secret
  labels:
    argocd.argoproj.io/secret-type: repository-write
type: Opaque
data:
  url: {{ (datasource "config").https.url | base64.Encode }} 
  type: {{ "git" | base64.Encode }}
  password: {{ (datasource "config").https.password | base64.Encode }} 
  username: {{ (datasource "config").https.username | base64.Encode }} 
---
apiVersion: v1
kind: Secret
metadata:
  name: my-pull-secret
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
data:
  url: {{ (datasource "config").https.url | base64.Encode }} 
  type: {{ "git" | base64.Encode }}
  password: {{ (datasource "config").https.password | base64.Encode }} 
  username: {{ (datasource "config").https.username | base64.Encode }}