apiVersion: v1
kind: Secret
metadata:
  name: my-push-secret
  labels:
    argocd.argoproj.io/secret-type: repository-write
type: Opaque
data:
  url: {{ (datasource "config").githubApp.url | base64.Encode}} 
  type: {{ "git" | base64.Encode }}
  githubAppID: {{ (datasource "config").githubApp.id | base64.Encode }} 
  githubAppInstallationID: {{ (datasource "config").githubApp.installationID | base64.Encode }}
  githubAppPrivateKey: |
    {{ (file.Read (datasource "config").githubApp.privateKeyPath) | base64.Encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: my-pull-secret
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
data:
  url: {{ (datasource "config").githubApp.url | base64.Encode}}
  type: {{ "git" | base64.Encode }}
  githubAppID: {{ (datasource "config").githubApp.id | base64.Encode}} 
  githubAppInstallationID: {{ (datasource "config").githubApp.installationID | base64.Encode}}
  githubAppPrivateKey: |
    {{ (file.Read (datasource "config").githubApp.privateKeyPath) | base64.Encode }}
